.active-tab {
    background-color: #0d6efd !important;
    color: white !important;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.list-group-item {
    cursor: pointer;
    transition: all 0.2s;
    color: #555;
}

.list-group-item:hover:not(.active-tab) {
    background-color: #f8f9fa;
    color: #0d6efd;
    transform: translateX(5px);
}